* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

.container {
	max-width: 1492px;
	padding: 0px 6px;
	margin: 0 auto;
}
.logo__container {
	max-width: 1700px;
	margin: 0px 180px 0px 120px;
}
.title {
	font-size: 33px;
	font-weight: 700;
	line-height: 45/33 * 100%;
}
.text {
	line-height: 33/18 * 100%;
}
.button {
	padding: 25px 46px;
	border-radius: 40px;
}
//Базовые настройки для тела сайта
body {
	font-family: "Montserrat", sans-serif;
	// font-family: "Roboto", sans-serif;
	// font-family: "Roboto Slab", serif;
	font-size: 18px;
	font-weight: 400;
}
// стили шапки
.header {
	// фотка на фоне блока header
	background-image: url(../img/header/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	// задаются главные оступы
	padding: 40px 0px 150px 0px;
	&__top {
		// оступы от верхней части шапки header__top
		margin: 0px 0px 50px 0px;
	}
	&__nav {
		display: flex;
		align-items: center;
	}
	// .logo img {
	// 	margin: auto;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// }
	&__btn-menu {
		display: none;
	}
	&__list {
		display: flex;
		line-height: 110px;
		padding-left: 460px;
	}
	&__list-item {
		padding: 0px 0px 0px 50px;
	}
	&__list-item:first-child {
		padding: 0px;
	}
	&__list-item a {
		font-size: 23px;
		font-weight: 500;
		color: #fff;
	}
	// часть с стилями под флексбокс нижней части шапки, там где офферная конструкция
	&__content-container {
		max-width: 776px;
		margin: 0px 0px 0px auto;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__text {
		padding: 0px 0px 60px 0px;
	}
	&__title {
		padding: 0px 30px 0px 0px;
		h1 {
			font-size: 70px;
			font-weight: 700;
			line-height: 90px;
			color: #fff;
		}
	}
	&__subtitle {
		h2 {
			font-size: 29px;
			line-height: 45px;
			color: #fff;
		}
	}
	&__buttons {
		display: flex;
		padding-bottom: 90px;
	}
	&__btn {
		margin-top: 5px;
		height: 80px;
		background-color: #ec8c34;
		a {
			font-size: 25px;
			font-weight: 600;
			color: #000;
			justify-content: center;
			align-items: center;
			text-align: center;
			white-space: nowrap;
		}
		&:hover {
			transition: 0.6s;
			transform: scale(1.15);
			background-color: #000;
		}
		&:hover a {
			transition: 0.6s;
			color: #fff;
		}
	}
	&__video {
		display: flex;
		justify-content: flex-end;
		&-icon {
			padding-top: 5px;
			flex: 0 0 80px;
			height: 80px;
		}
		&-icon img {
			max-width: 100%;
		}
		&-text {
			padding-left: 20px;
		}
		&-text a {
			line-height: 30px;
			color: #fff;
		}
	}
	// блок с социальными сетями
	&__social {
		&-items {
			display: flex;
		}
		&-text {
			padding-bottom: 20px;
		}
		&-subscribe {
			font-size: 14px;
			line-height: 17px;
			color: #fff;
		}
	}
}
.about {
	padding: 150px 0px;

	&__inner-row {
		display: flex;
	}
	&__image {
		flex: 0 0 840px;
		padding: 0px 80px 0px 0px;

		img {
			max-width: 100%;
			border-radius: 15px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding: 40px 0px 0px 0px;
		&-title {
			padding: 0px 0px 25px 0px;
		}
		&-info {
			padding: 0px 0px 70px 0px;
		}
	}
	&__button {
		margin: 0px auto 0px 0px;
		border: 2px solid #ec8c34;
		a {
			color: #ec8c34;
			font-weight: 600;
		}
		&:hover {
			transition: 0.6s;
			transform: scale(1.15);
		}
	}
}
.contacts {
	background-image: url(../img/about/form.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px 0px 150px 0px;
	&__inner {
		display: block;
	}
	&__content {
		padding: 60px 0px 50px 0px;
		&-title {
			padding: 0px 0px 45px 0px;
		}
	}
	&__buttons {
		max-width: 337px;
		input[type="text"] {
			width: 337px;
			text-align: center;
			border: 2px solid #9ec3cc;
			color: #9ec3cc;
			font-size: 25px;
			letter-spacing: 2px;
		}
		input[type="text"]::placeholder {
			color: #9ec3cc;
		}
	}
	&__btn {
		margin-top: 30px;
		cursor: pointer;
		background-color: #ec8c34;
		color: #000;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 10px;
		&:hover {
			transition: 0.6s;
			transform: scale(1.15);
		}
	}
	&__text {
		text-align: center;
		font-size: 13px;
		line-height: 17px;
		padding-bottom: 20px;
		a {
			color: #af5f15;
		}
	}
}
.clients {
	margin: 0px 0px 150px 0px;
	.block {
		margin: 0px 50px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0px -50px;
	}
	&__title {
		padding: 0px 0px 25px 0px;
	}
	&__subtitle {
		padding: 0px 0px 90px 0px;
	}
	&__btn {
		display: inline-block;
		border: 2px solid #ec8c34;
		&-link {
			color: #ec8c34;
			font-weight: 600;
			font-size: 25px;
		}
		&:hover {
			transition: 0.6s;
			transform: scale(1.15);
		}
	}
	&__image {
		flex: 0 0 830px;
		border-radius: 15px;
		background-image: url(../img/clients/clients.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 470px;
		&-content {
			padding: 45px 0px 35px 62px;
			min-height: 100%;
			display: flex;
			flex-direction: column;
		}

		&-title {
			padding-bottom: 4px;
			font-family: "Roboto Slab", serif;
			font-size: 30px;
			font-weight: 700;
			color: #1eb7c0;
			line-height: 40px;
		}
		&-subtitle {
			font-family: "Roboto Slab", serif;
			color: #1eb7c0;
			font-size: 24px;
			line-height: 24px;
			flex: 1 1 auto;
		}
		&-client {
			font-family: "Roboto Slab", serif;
			color: #fff;
			font-size: 21px;
			line-height: 29px;
		}
	}
}
.footer {
	background-color: #e2c372;
	padding: 45px 0px 26px 0px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__container {
		max-width: 545px;
	}
	&__content {
		display: flex;
	}
	.content {
		padding: 0px 45px;

		.footer__content-link {
			font-size: 15px;
			color: #6c5415;
			line-height: 20px;
		}
	}
	&__social-items {
		display: flex;
	}
}
// стили для социальных сетей
.social {
	a {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #9c1616;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		position: relative;
	}
	.vk-link:before {
		position: absolute;
		content: "\f189";
		font-family: "icomoon";
		color: #000;
	}
	.youtube-link:before {
		position: absolute;
		content: "\f16a";
		font-family: "icomoon";
		color: #000;
	}
	.facebook-link:before {
		position: absolute;
		content: "\f09a";
		font-family: "icomoon";
		color: #000;
	}
	.twitter-link:before {
		position: absolute;
		content: "\f099";
		font-family: "icomoon";
		color: #000;
	}
	&:hover {
		transition: 0.6s;
		transform: scale(1.25);
	}
	&:hover a:before {
		transition: 0.6s;
		color: #fff;
	}
	& {
		margin-right: 30px;
	}

	&:last-child {
		margin-right: 0px;
	}
}
